.systemnotifi_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 25px 15px;
    .systemnotifi_container_card {
        height: 200px;
        .time {
            width: 100%;
            text-align: center;
            font-size: 13px;
        }
        .card_body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #f6f7f9;
            border-radius: 5px;
            padding: 10px;
            .card_content {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 17px;
                .avatar {
                    width: 92px;
                    height: 92px;
                    border-radius: 50%;
                }
                .content {
                    width: 100%;
                }
            }
            .card_footer {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: 20px;
            }
        }
    }
}
